*
{
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 1300px)
{
	body
	{
		display: flex;
		justify-content: center;
	}
	
	header
	{
		width: 90%;
		position: fixed;
		background-color: white;
		top: 0;
		padding: 10px 0 10px 0;
		z-index: 200;
	}
	.SocialContainerOuter
	{
		width: 100%;
	}
	.SocialContainerInner
	{
		height: 50px;
		margin-left: auto;
	}
	.socicon-facebook
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #3e5b98;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-twitter
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color:  #4da7de;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-youtube
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #e02a20;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-instagram
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #000000;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;

	}
	.NavAndLogoContainer
	{
		width: 100%;
		padding: 10px 0 10px 0;
	}
	.LogoContainer
	{
		height: 70px;
		width: 25%;
		margin: 15px 0 15px 0;
		float: left;
		background: url(http://www.teambss.org.uk/sites/default/files/bss-logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.NavContainer
	{
		height: 100px;
		width: 70%;
		background-color: #0996c3;
		float: right;
		display: flex;
		justify-content: space-around;
		opacity: 0.7;
	}
	nav
	{
		height: 50px;
		margin-top: 25px;
		width: 90%;
	}
	nav ul
	{
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
	nav ul li
	{
		display: inline;
		height: 50px;
		line-height: 50px;
	}
	nav ul li a
	{
		text-decoration: none;
		font-size: 15px;
		color: white;
		font-family: Arial;
		font-weight: bold;
	}
	nav ul li a:hover
	{
		text-decoration: underline;
		height: 100%;
	}
	.BodyContainer
	{
		width: 90%;
		position: relative;
		top: 180px;
	}
	.JavaSlideshowContainer
	{
		height: 400px;
		width: 100%;
	}
	#slideshow > div
	{ 
    position: absolute; 
    width: 100%;
    height: 400px;
	}
	.WelcomeText
	{
		padding: 50px 0 50px 0;
		width: 100%;
	}
	.WelcomeText h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
	}
	.WelcomeText p
	{
		font-size: 20px;
		font-family: Arial;
		width: 100%;
		text-align: center;
		padding: 10px 0 10px 0;
	}
	.MeetTheTeamContainer
	{
		padding: 25px 0 25px 0;
		width: 100%;
	}
	.MeetTheTeamContainer h1 
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.ProfilesContainer
	{
		height: 350px;
		width: 100%;
		display: flex;
		margin-top: 20px;
		justify-content: space-between;
		

	}
	.ProfileContainer
	{
		height: 100%;
		width: 20%;
		text-align: center;
		
	}
	.ProfilePhoto
	{
		height: 150px;
		border-radius: 100%;
		border-color: #BEBEBE;
		width: 150px;
		border:2px solid #BEBEBE;
		background-color: black;
		margin-right: auto;
		margin-left: auto;
		background-image: url(http://www.saacicongress.org/wp-content/uploads/2017/05/female-profile-pic-placeholder-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ProfilePhoto:hover
	{
		border-color: black;
	}
	.ProfileText
	{
		height: 50px;
		width: 100%;
	}
	.ProfileText h2
	{
		padding-top: 10px;
		font-family: Arial;
	}
	.ProfileText h3
	{
		font-family: Arial;
	}
	.NewsContainer
	{
		padding: 25px 0 25px 0;
		text-align: center;
	}
	.NewsContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;

	}
	.News
	{
		padding: 10px 0 10px 0;
		width: 90%;
		display: inline-flex;
		justify-content: space-between;

	}
	.Collumn
	{
		padding: 25px 0 25px 0;
		height: 700px;
		width: 30%;
	}
	.LargeArticle
	{
		height: 500px;
		width: 100%;
		background-color: black;
		display: flex;
		justify-content: center;
		border-radius: 15px;
		background: #c0deed;
	}
	.LargeArticle p
	{
		font-size: 40px;
		width: 75%;
		font-style: italic;
		font-family: Arial;
		color: black;
	}
	.SmallArticle
	{
		height: 250px;
		width: 100%;
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
		border-radius: 15px;
		background: #c0deed;
	}
	.SmallArticle p
	{
		font-size: 40px;
		width: 75%;
		font-style: italic;
		font-family: Arial;
		color: black;
	}
	.SmallArticleSponsors
	{
		padding: 15px 0 15px 0;
		width: 300px;
		margin-bottom: 50px;
	}
	.SmallArticleSponsors img
	{
		width: 100%;
	}
	.VideoContainer
	{
		width: 100%;
		height: 600px;
		padding: 25px 0 25px 0;
		margin-top: 75px;
		text-align: center;
	}
	.VideoContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.VideoInner
	{
		width: 70%;
		height: 500px;
		margin:0 auto 0 auto;
	}
	.SponsorsContainer
	{
		width: 100%;
		padding: 25px 0 25px 0;
	}
	.SponsorsContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.SponsorsContainerInner
	{
		width: 70%;
		padding: 25px 0 25px 0;
		display: flex;
		justify-content: space-around;
		margin: 0 auto 0 auto;
	}
}
@media screen and (min-width: 751px) and (max-width: 1299px)
{
	body
	{
		background-color: white;
	}
	header
	{
		width: 100%;
		background-color: white;
		top: 0;
		padding: 10px 0 10px 0;
		z-index: 200;
	}
	.SocialContainerOuter
	{
		width: 100%;
		height: 50px;
	}
	.SocialContainerInner
	{
		height: 50px;
		margin-left: auto;
	}
	.socicon-facebook
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #3e5b98;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-twitter
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color:  #4da7de;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-youtube
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #e02a20;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-instagram
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #000000;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;

	}
	.NavAndLogoContainer
	{
		width: 100%;
		padding: 10px 0 10px 0;
	}
	.LogoContainer
	{
		height: 70px;
		width: 25%;
		margin: 15px auto 15px auto;
		background: url(http://www.teambss.org.uk/sites/default/files/bss-logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
	.NavContainer
	{
		height: 100px;
		width: 100%;
		background-color: #0996c3;
		float: right;
		display: flex;
		justify-content: space-around;
		opacity: 0.7;
		position: relative;
	}
	nav
	{
		height: 50px;
		margin-top: 25px;
		width: 99%;
	}
	nav ul
	{
		list-style: none;
		display: flex;
		justify-content: space-between;
	}
	nav ul li
	{
		display: inline;
		height: 50px;
		line-height: 50px;
	}
	nav ul li a
	{
		text-decoration: none;
		font-size: 15px;
		color: white;
		font-family: Arial;
		font-weight: bold;
	}
	nav ul li a:hover
	{
		text-decoration: underline;
		height: 100%;
	}
	.BodyContainer
	{
		width: 100%;
		position: relative;
		top: 180px;
	}
	.JavaSlideshowContainer
	{
		padding: 0px 0 25px 0;
		width: 100%;
		top: 100px;
	}
	#slideshow
	{
		position: absolute;
		display: block;
	}
	#slideshow > div
	{ 
    width: 100%;
    top: 10px;
    position: relative;
    	margin: 0 auto 0 auto;
	}
	.WelcomeText
	{
		padding: 0px 0 0px 0;
		width: 100%;
		position: relative;
	}
	.WelcomeText h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		background-color: white;
		margin-top: 245px;
		position: relative;
		clear: all;
	}
	.WelcomeText p
	{
		font-size: 20px;
		font-family: Arial;
		width: 100%;
		text-align: center;
		padding: 0px 0 0px 0;
		background-color: white;
	}
	.MeetTheTeamContainer
	{
		padding: 25px 0 25px 0;
		width: 100%;
		z-index: 9999;
		background-color: white;
	}
	.MeetTheTeamContainer h1 
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
		background-color: white;
	}
	.ProfilesContainer
	{
		height: 350px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		

	}
	.ProfileContainer
	{
		height: 100%;
		width: 20%;
		text-align: center;
		
	}
	.ProfilePhoto
	{
		height: 150px;
		border-radius: 100%;
		border-color: #BEBEBE;
		width: 150px;
		border:2px solid #BEBEBE;
		background-color: black;
		margin-right: auto;
		margin-left: auto;
		background-image: url(http://www.saacicongress.org/wp-content/uploads/2017/05/female-profile-pic-placeholder-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ProfilePhoto:hover
	{
		border-color: black;
	}
	.ProfileText
	{
		height: 50px;
		width: 100%;
	}
	.ProfileText h2
	{
		padding-top: 10px;
		font-family: Arial;
	}
	.ProfileText h3
	{
		font-family: Arial;
	}
	.NewsContainer
	{
		padding: 25px 0 25px 0;
		text-align: center;
	}
	.NewsContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;

	}
	.News
	{
		padding: 10px 0 10px 0;
		width: 90%;
		display: inline-flex;
		justify-content: space-between;

	}
	.Collumn
	{
		padding: 25px 0 25px 0;
		height: 700px;
		width: 30%;
	}
	.LargeArticle
	{
		height: 500px;
		width: 100%;
		background-color: black;
		display: flex;
		justify-content: center;
		border-radius: 15px;
		background: #c0deed;
	}
	.LargeArticle p
	{
		font-size: 40px;
		width: 75%;
		font-style: italic;
		font-family: Arial;
		color: black;
	}
	.SmallArticle
	{
		height: 250px;
		width: 100%;
		margin-bottom: 25px;
		display: flex;
		justify-content: center;
		border-radius: 15px;
		background: #c0deed;
	}
	.SmallArticle p
	{
		font-size: 40px;
		width: 75%;
		font-style: italic;
		font-family: Arial;
		color: black;
	}
	.SmallArticleSponsors
	{
		padding: 15px 0 15px 0;
		width: 300px;
		margin-bottom: 50px;
	}
	.SmallArticleSponsors img
	{
		width: 100%;

	}
	.VideoContainer
	{
		width: 100%;
		height: 600px;
		padding: 25px 0 25px 0;
		margin-top: 75px;
		text-align: center;
	}
	.VideoContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.VideoInner
	{
		width: 70%;
		height: 500px;
		margin:0 auto 0 auto;
	}
	.SponsorsContainer
	{
		width: 100%;
		padding: 25px 0 25px 0;
	}
	.SponsorsContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.SponsorsContainerInner
	{
		width: 70%;
		padding: 25px 0 25px 0;
		display: flex;
		justify-content: space-around;
		margin: 0 auto 0 auto;
	}
}
@media screen and (min-width: 360px) and (max-width: 750px)
{
	header
	{
		width: 100%;
		background-color: white;
		padding: 10px 0 0px 0;
	
	}
	.SocialContainerOuter
	{
		width: 100%;
	}
	.SocialContainerInner
	{
		height: 50px;
		display: flex;
		justify-content: center;
	}
	.socicon-facebook
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #3e5b98;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-twitter
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color:  #4da7de;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-youtube
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #e02a20;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;
	}
	.socicon-instagram
	{
		padding: 12.5px 0 12.5px 0;
		width: 50px;
		background-color: #000000;
		font-size: 25px;
		color: white;
		text-align: center;
		float: right;

	}
	.NavAndLogoContainer
	{
		width: 100%;
		padding: 10px 0 0px 0;
		display: inline-block;
	}
	.LogoContainer
	{
		height: 70px;
		width: 80%;
		margin: 15px 0 15px 0;
		background: url(http://www.teambss.org.uk/sites/default/files/bss-logo.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		float: left;
	}
	.BurgerMenu
	{
		height: 50px;
		width: 50px;
		margin: 25px 15px 25px 0;
		background-image: url(http://frenchmartini.com.au/images/burger-thin-u945.png?crc=266204602);
		background-size: contain;
		background-repeat: no-repeat;
		float: right;
	}
	.NavContainer
	{
		width: 100%;
		background-color: #0996c3;
		display: flex;
		justify-content: space-around;
		opacity: 0.7;
		display: none;
	}
	nav
	{
		width: 100%;
	}
	nav ul
	{
		list-style: none;
	}
	nav ul li
	{
		height: 50px;
		width: 100%;
		line-height: 50px;
		text-align: center;
		border-bottom: 2px solid black;
	}
	nav ul li a
	{
		text-decoration: none;
		font-size: 15px;
		color: white;
		font-family: Arial;
		font-weight: bold;
	}
	nav ul li a:hover
	{
		text-decoration: underline;
		height: 100%;
	}
	.BodyContainer
	{
		width: 100%;
	}
	.JavaSlideshowContainer
	{
		padding: 0px 0 25px 0;
		width: 100%;
		top: 100px;
	}
	#slideshow
	{
		position: relative;
	}
	#slideshow > div
	{ 
    width: 100%;
    position: absolute;
	}
	.WelcomeText
	{
		padding: 0px 0 50px 0;
		width: 100%;
	}
	.WelcomeText h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		background-color: white;
		margin-top: 210px;
	}
	.WelcomeText p
	{
		font-size: 20px;
		font-family: Arial;
		width: 100%;
		text-align: center;
		padding: 10px 0 10px 0;
		background-color: white;
	}
	.MeetTheTeamContainer
	{
		padding: 25px 0 25px 0;
		width: 100%;
	}
	.MeetTheTeamContainer h1 
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.ProfilesContainer
	{
		width: 100%;
		margin-top: 20px;

	}
	.ProfileContainer
	{
		padding: 10px 0 10px 0;
		width: 100%;
		text-align: center;
		
	}
	.ProfilePhoto
	{
		height: 150px;
		border-radius: 100%;
		border-color: #BEBEBE;
		width: 150px;
		border:2px solid #BEBEBE;
		background-color: black;
		margin-right: auto;
		margin-left: auto;
		background-image: url(http://www.saacicongress.org/wp-content/uploads/2017/05/female-profile-pic-placeholder-1.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.ProfilePhoto:hover
	{
		border-color: black;
	}
	.ProfileText
	{
		height: 50px;
		width: 100%;
	}
	.ProfileText h2
	{
		padding-top: 10px;
		font-family: Arial;
	}
	.ProfileText h3
	{
		font-family: Arial;
	}
	.NewsContainer
	{
		padding: 25px 0 25px 0;
		text-align: center;
	}
	.NewsContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;

	}
	.News
	{
		padding: 10px 0 10px 0;
		width: 100%;
	}
	.Collumn
	{
		width: 100%;
	}
	.LargeArticle
	{
		height: 500px;
		width: 100%;
		background-color: black;
		display: flex;
		justify-content: center;
		border-radius: 15px;
		background: #c0deed;
	}
	.LargeArticle p
	{
		font-size: 60px;
		width: 75%;
		font-style: italic;
		font-family: Arial;
		color: black;
	}
	.SmallArticle
	{
		height: 250px;
		width: 100%;
		display: flex;
		justify-content: center;
		border-radius: 15px;
		background: #c0deed;
		margin:10px 0 10px 0;
	}
	.SmallArticle p
	{
		font-size: 40px;
		width: 50%;
		font-style: italic;
		font-family: Arial;
		color: black;
	}
	.SmallArticleSponsors
	{
		padding: 15px 0 15px 0;
		width: 100%;
		margin-bottom: 50px;
	}
	.SmallArticleSponsors img
	{
		width: 100%;
	}
	.VideoContainer
	{
		width: 100%;
		height: 200px;
		padding: 25px 0 25px 0;
		margin-top: 75px;
		text-align: center;
		position: relative;
	}
	.VideoContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
	}
	.VideoInner
	{
		width: 100%;
		margin:0 auto 0 auto;
	}
	.SponsorsContainer
	{
		width: 100%;
		height: 250px;
		padding: 25px 0 25px 0;
	}
	.SponsorsContainer h1
	{
		width: 100%;
		text-align: center;
		font-family: Arial;
		font-size: 25px;
		padding-bottom: 50px;
		margin-top: 15px;
	}
	.SponsorsContainerInner
	{
		width: 100%;
		padding: 25px 0 25px 0;
		margin: 0 auto 0 auto;
	}

}
